// Variables del proyecto
@import "src/main/variables";

//Personalizar Bootstrap
@import "src/main/mybootstrap";

//Más estilos propios
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

//icons
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

//
*{
    position: relative;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#navbarSupportedContent{
    font-family: 'Kumbh Sans';
}

h2{
    font-family: 'Kumbh Sans', nth($listfonts, 3);
    &:hover{
        color:$mydark;
    }
}

.card-text{
    font-family: 'Kumbh Sans', sans-serif;
}

.lead{
    color:$mydark;
}

.card-title{
    font-family: 'Jost', sans-serif;

    &:hover{
        color:$mylight;
    }
}

#tarjetas{
    
    @include setflex(row, space-around);
    padding: 10px;
    
}

#jumbo{
    @include setflex(row, space-around);
        padding: 10px;
        font-family:'Jost', sans-serif;
        color:$mydark;
}

.card-img-overlay{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    margin: 50px;
    align-content: flex-end;
    justify-content: center;
}

#contacto{
    @include setflex (row, space-around);
    background-color: $myinfo;
    padding: 20px;
}

.btn{
    &-menu{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 10px;

    &:hover{
        color: $myprimary;
    }
    }

    &-primary{
        background-color: $mylight;
        border-color: none;
        font-family: 'Kumbh Sans';

        &:hover{
            background-color:$myinfo;
        }
    }
}

.card{
    background-color: $mydark;
}


.ttl{
    &-xs{
        @include setittle ('Jost', nth($listfonts, 2), bolder);

        &:hover{
            color:$mydark;
        }
    }
}

.container{
    @include setittle ('Jost', nth($listfonts, 2), bolder);
}

.collapse{
    &-navbar-collapse{
        @include setittle ('Jost', nth($listfonts, 2), bolder);
        color:$myprimary;
    }
}
