//Definir variables
$myprimary:   #3cb4c4;
$mysecondary: #bcf5f8;
$myinfo:      #17788d;
$mylight:     #043c5d;
$mydark:      #eef2f9;

$myBgColorLight: turquoise;

$listfonts: 45px, 25px, 15px;

@mixin setflex ($dir, $just){
    display: flex;
    flex-direction: $dir;
    flex-wrap: wrap;
    text-align: left;
    justify-content: $just;
}

@mixin setittle ($font, $ize, $weight) {
    font-family: $font;
    font-size: $ize;
    font-weight: $weight;
}